.navbarr {
    background-color: #FFFFFF;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 14%;
    width: 100%;
    /* box-shadow:10px 0px 2px 0px #1a83ff; */
    box-shadow: 1px 1px 10px rgb(197, 197, 197);
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color: #FFFFFF;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* box-shadow:0.5px 10px 0px 0px #1a83ff; */
    box-shadow: 1px 1px 10px rgb(197, 197, 197);
    position: fixed;
    top: 0;
    /* left: -100%; */
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    padding: 8px 0px 8px 16px;
    list-style: none;
    font-size: larger;
    height: 50px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
 
  /* .nav-text a:hover */
  .nav-text:hover {
    background-color: #94c0f1;
    color: #fff;
    text-decoration: none;

  }
  
  /* .nav-menu-items {
    width: 100%;
    
  } */

  .nav-menu-items {
      /* float: left; */
      margin-left: 25px;
      align-items: center;
      list-style: none;
      display: block;
      width: 100%;
  }
  .titleNavbar{
    float: left !important;

  }

  .logoutNavbar {
    margin-right: 1%;
    padding-left: 80%;
  }
  
  .navbar-toggle {
    background-color: #FFFFFF;
    color: #1a83ff;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }


  .sidebar_avatar {
    /* Center the content */
    /* display: inline-block; */
    vertical-align: middle;
    
    box-shadow: 2px 2px 8px rgb(189, 183, 183);
    
    
    /* Used to position the content */
    position: relative;
    text-decoration: none;

    margin: 50px 0% 5% 20px;

    width: 100%;

    /* Colors */
    background-color: #1a83ff;
    color: #1a83ff;

    /* Rounded border */
    border-radius: 50%;
    height: 90px;
    width: 90px;
}


p.name-email {
    margin-left: 0%;
    float: left;
    text-align: left;
    width: 100%;
    text-decoration: none;
    
}
.sidebar_avatar__letters {
    /* Center the content */
    left: 50%;
    position: absolute;
    font-size: xx-large;
    font-weight: bold;
    color: #fff;
    top: 50%;
    transform: translate(-50%, -50%);
}