* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background: rgb(255, 255, 255) !important;
  /* overflow-X: hidden; */
}

ul {
  padding: 0px !important;
  margin: 0px !important;
  width: 100%;
}

table {
  width: 85%;
  overflow-X: scroll;
}


table tbody,
td,
tfoot,
th,
thead,
tr {
  border: 1px solid rgb(155, 155, 155);
}

thead th {

  border: 1px solid rgb(155, 155, 155);
}

tbody td {
  border: 1px solid rgb(155, 155, 155);
}


