.react-bootstrap-table thead {
  /* position: sticky;  */
  /* top: 0;  */
  background-color: #3e8be2;
  /* z-index: 1021;  */
}


th,
td {
  /* text-align: left; */
  padding: 8px;
  text-align: center;
}

td {
  border-left: solid rgb(231, 228, 228) 1px;
  border-top: solid rgb(231, 228, 228) 1px;
  border-bottom: solid rgb(231, 228, 228) 1px;
}

th {
  background-color: #3e8be2;
  color: #fff;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* table-style{
    box-shadow: 0px 3px 6px #00000033;
  } */

/* th:first-of-type {
    border-top-left-radius: 10px;
  }
  th:last-of-type {
    border-top-right-radius: 10px;
  }
  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
  }
  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
  } */

#myInput {
  /* border-radius: 15px; */
  /* width: auto; */
  height: 50%;
  margin-bottom: 3%;
  border-color: none;
  border-width: 0ch;
  color: #fff;
  background: #bbbbbb 0% 0% no-repeat padding-box;
}

#myInput :active {
  background: none;
  background-color: #3e8be2;
}

/* ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top:3%; */
/* margin-left:40% */
/* } */
/* ul.pagination li {display: inline;}
ul.pagination li {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
} */
.refreshButton {
  height: 40px;
  width: 40px;
  float: right;
  color: #3e8be2;
  margin-right: 10px;
  margin-bottom: 10px;
}

.refreshButton :hover {
  color: #73a7e2;
  cursor: pointer;
}

/* ul.pagination li.active {
  background-color: #3E8BE2;
  border-radius: 5px;
  color: white;
} */
/* ul.pagination li:hover:not(.active) {
  background-color: #c4dcf8;
  border-radius: 5px;
} */

/* dropdown */
.multiselect {
  width: auto;
}

.selectBox {
  position: relative;
  border-color: #3e8be2 !important;
  color: #3e8be2;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #3e8be2 !important;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

/* changes 02/12/2021 */
/* .Main_outer_div {
  width: 80% !important;
  margin-top: 9%;
  margin-left: 16%;
} */

/* media query */
.Main_outer_div {
  margin-top: 9%;
  margin-left: 18%;
}


/* updated css  02-11-2021 */

.outer_div {
  margin-top: 80px;
  margin-left: 12%;

}

.filter_row {
  display: flex !important;
  align-items: bottom !important;
}


/* todo: neeraj 05-12-2021 if date data is empty in both end and start */
.dateempty {

  border: red 2px solid !important;
  transition-duration: .5s;
}