@import url("./variables.css");

.btn {
    background-color: var(--iconBackgrounColor) !important;
}


.card {
    background-color: var(--cardColor) !important;
    padding: 15px;
    margin: 10px;
    border-radius: 20px !important;
    border: none !important;
    backdrop-filter: blur(10px) !important;
    box-shadow: 1px 4px 25px -11px rgba(63, 63, 63, 0.5) !important;
}



/* custome */

.card-Custome {
    backdrop-filter: blur(10px) !important;
    background-color: var(--cardColor);
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
    border: none !important;
    box-shadow: 1px 4px 25px -11px rgba(63, 63, 63, 0.5) !important;
}